$colorFondo: #e6e6e6;
$colorBlanco: #fff;
$colorNegro: #363636;
$colorRojo: #d7392d;
$colorRojoClaro: rgba(#d7392d, 0.15);
$colorAzulOscuro: #024873;
$colorAzul: #0482d0;
$colorazulClaro: #0597f2;
$colorAzulFondo: rgba($colorAzulOscuro, 0.15);
